@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;300;400;500;600;700;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    font-family: 'Kumbh Sans', sans-serif;

}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 20px 10% 0px 10%;

}

.menu {
    cursor: pointer;
    display: none;
}

.logo {
    cursor: pointer;


}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: grey;
    font-size: 14px;
}

nav ul li a:hover {
    color: rgb(14, 12, 12);
    transition: all .3s ease 0s;
    font-weight: bold;
}

.profile {
    width: 40px;
    margin: 0 30px;
}

.cart {
    margin-left: auto;
    cursor: pointer;

}

.cart:hover {
    transform: rotate(45deg);
}

hr {
    margin: auto;
    margin: 30px auto;
}



.content {
    width: 100%;
    padding: 20px 0px;
}

.main {
    width: 1130px;
    max-width: 95%;
    justify-content: space-around;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.flex-container {
    height: auto;
    flex-basis: 30%;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box1 {
    width: 100%;
    height: 70%;
    border-radius: 20px;
}

.box {
    width: 20%;
    height: 80px;
    border-radius: 10px;
}

.two {
    border: 2px solid rgb(255, 136, 0);
    opacity: 0.5;
}

.main-text {
    width: 400px;
    padding-top: 30px;
    flex-basis: 30%;
    position: relative;
    right: 90px;
}

.main-text h4 {
    color: hsl(26, 100%, 55%);
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
}

.main-text h1 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
}

.main-text p {
    margin-bottom: 20px;
    font-size: 16px;
    color: grey;
}

span {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    margin-right: 20px;
}

.percent {
    background-color: rgb(248, 202, 145);
    outline: none;
    border: none;
    padding: 2px 4px;
    color: rgb(216, 96, 17);
    font-weight: 700;
    font-size: 13px;
    position: relative;
    bottom: 3px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.price {
    color: rgba(128, 128, 128, 0.541);
    text-decoration: line-through;
    font-size: 15px;
    margin-bottom: 30px;
}

strong {
    background-color: rgb(194, 187, 187);
    margin-right: 15px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;

}

.plus {
    margin-left: 15px;
    cursor: pointer;

}

.minus {
    margin-right: 15px;
    cursor: pointer;
}

button {
    padding: 10px 50px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: rgb(255, 123, 0);
    color: #ffffff;
    cursor: pointer;
    transition: .5s;
    margin-left: 10px;
}

button:hover {
    transform: scale(.8);
    filter: saturate(90%);
}

label {
    position: relative;
    bottom: 3px;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
}

.add {

    filter: brightness(500%);
    width: 17px;
    margin-right: 10px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    
    
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* ----------------Media Query Section---------------- */

@media (min-width:700px) and (max-width:1150px) {
    button {
        position: relative;
        left: 100px;
        bottom: 29px;
    }

    .flex-container {
        height: auto;
        flex-basis: 40%;
        background-color: #ffffff;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media (max-width:700px) {
    .container {
        width: 100%;
        margin-left: 15px;
    }

    nav {
        position: relative;
        left: 10px;
    }

    nav ul {
        width: 100%;
        background-color: rgb(245, 244, 247);
        position: absolute;
        top: 75px;
        right: 0px;
        z-index: 2;
        opacity: 0%;
    }

    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        opacity: 0%;

    }

    nav ul li a {
        color: #ffffff;
        opacity: 0%;
    }

    .menu {
        display: block;
        margin-right: 10px;
        position: fixed;
        left: 10px;
        padding-right: 4px;

    }

    .cart {
        margin-left: 20px;
    }

    .profile {
        width: 30px;
        margin: 0 30px;
    }

    .content {
        max-width: fit-content;
    }

    .content .main {
        display: inline-block;
        width: 100%;
        margin: 0;

    }

    .box1 {
        width: 100%;
        height: 100%;
        border-radius: 0px;
        padding: 0;
        margin-top: 0px;


    }

    .box {
        display: none;
    }

    hr {
        margin: 0;
        display: none;
    }


    label {
        font-size: 11px;
    }

    .main-text {
        width: 100%;
        padding-top: 30px;
        margin-left: 5px;
        position: relative;
        right: auto;


    }

    .main-text h4 {
        color: hsl(26, 100%, 55%);
        margin-bottom: 20px;
        text-transform: uppercase;
        font-size: 15px;
        letter-spacing: 1px;
    }

    .main-text h1 {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 30px;
    }

    .main-text p {
        margin-bottom: 20px;
        font-size: 16px;
        color: grey;
    }

    strong {
        width: 80%;

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        margin-bottom: 10px;
    }

    button {
        display: flex;
        width: 80%;
        margin: auto;
        padding-left: 30%;
    }

    .attribution {
        display: none;
    }
}

@media (min-width: 600px) and (max-width: 700px) {
    .logo {
        position: relative;
        right: 250px;
    }
}

@media (min-width: 500px) and (max-width: 600px) {
    .logo {
        position: relative;
        right: 150px;
    }
}

@media (min-width: 400px) and (max-width: 500px) {
    .logo {
        position: relative;
        right: 50px;
    }
}

@media (min-width: 250px) and (max-width:300px) {
    .logo {
        width: 50%;
    }

    .cart {
        position: relative;
        left: 10px;
    }
}